{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">重置密码</h3>
{#          <p>Enter your email address and we will send you a link to reset your password.</p>#}
          <p>输入您的邮件地址，我们将会发送一封密码重置邮件给您。</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
{#            <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>#}
            <button type="submit" class="btn btn-primary btn-block">发送密码重置邮件</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
