{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">重置你的密码</h3>
          <p>您会收到一封包含密码重置链接的邮件，请检查您的邮箱，如未收到请检查您的垃圾邮件文件夹。</p>
{#          <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>#}
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">返回登录</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
